body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(171, 247, 247);
}

.div-principal
{
    width: 300px;
    height: 150px;
    text-align: center;
}

h3
{
    margin-bottom: 15px;
}

.roboto
{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: width 100;
}

input
{
    text-align: center;
    padding: 10px;
    font-size: 16px;
    width: 180px;
    margin-bottom: 10px;
}

input:hover
{
    border: solid 3px #007BFF;
}

button
{
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover
{
    background-color: #0056b3;

}

.valido
{
    color: rgb(37, 206, 37);
    font-weight: bold;
}

.invalido
{
    color: red;
    font-weight: bold;
}

#resultado
{
    font-size: 20px;
    width: 300px;
}